#navbar{ 
    position: sticky;
    top: 0;
    z-index: 1000;
    

}

#navbar .navbar {
    background-color: #4b4d4b !important;
    color: #fff8e8 !important;
}

body { 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3a3a3a;
    color: #fff8e8;
}

#code_example img {
   padding-top: 20px;
   display: block;
   margin: 20px auto 0;
    
}

#portrait img {
    max-width: 25%;
    display: block;
    margin: 20px auto 0;
}
 @media (max-width: 768px) {
    #portrait img {
        max-width: 85%;
    }
}